<h2>Modelos de Produtos</h2>

<%= link_to 'Cadastrar Novo', new_product_model_path %>

<% if @product_models.any? %>

  <% @product_models.each do |pm| %>
    <div>
      <h3><%= link_to(pm.name, product_model_path(pm.id)) %></h3>
      <dl>
        <dt><%= ProductModel.human_attribute_name(:sku) %>: </dt>
        <dd><%= pm.sku %></dd>
        <dt><%= ProductModel.human_attribute_name(:supplier_id) %>: </dt>
        <dd><%= pm.supplier.brand_name %></dd>
      </dl>
    </div>
  <% end %>
<% else %>
  <p>Nenhum modelo de produto cadastrado</p>
<% end %>

