<h2><%= @product_model.name %></h2>
<dl>
  <dt><%= ProductModel.human_attribute_name(:supplier_id) %>: </dt>
  <dd><%= @product_model.supplier.brand_name %></dd>
  <dt><%= ProductModel.human_attribute_name(:sku) %>: </dt>
  <dd><%= @product_model.sku %></dd>
  <dt>Dimensão: </dt>
  <dd><%= @product_model.dimension %></dd>
  <dt><%= ProductModel.human_attribute_name(:weight) %>: </dt>
  <dd><%= @product_model.weight %>g</dd>
</dl>
<div>
  <%= link_to 'Editar', edit_product_model_path(@product_model.id) %>
  <%= link_to 'Voltar', product_models_path %>
</div>

