<h2><%= Supplier.model_name.human %> <%= @supplier.brand_name %></h2>

  <dl>
    <div>
      <dt><%= Supplier.human_attribute_name(:corporate_name) %>:</dt>
      <dd><%= @supplier.corporate_name %></dd>
    </div>
    <div>
      <dt><%= Supplier.human_attribute_name(:brand_name) %>:</dt>
      <dd><%= @supplier.brand_name %></dd>
    </div>
    <div>
      <dt><%= Supplier.human_attribute_name(:registration_number) %>:</dt>
      <dd><%= @supplier.registration_number %></dd>
    </div>
    <div>
      <dt><%= Supplier.human_attribute_name(:full_address) %>:</dt>
      <dd><%= @supplier.full_address %></dd>
    </div>
     <div>
      <dt><%= Supplier.human_attribute_name(:city) %>:</dt>
      <dd><%= @supplier.city %></dd>
    </div>
     <div>
      <dt><%= Supplier.human_attribute_name(:state) %>:</dt>
      <dd><%= @supplier.state %></dd>
    </div>
     <div>
      <dt><%= Supplier.human_attribute_name(:email) %>:</dt>
      <dd><%= @supplier.email %></dd>
    </div>
     <div>
      <dt><%= Supplier.human_attribute_name(:phone_number) %>:</dt>
      <dd><%= @supplier.phone_number %></dd>
    </div>
  </dl>
  
<div>
  <h3>Modelos de Produtos</h3>

  <% @supplier.product_models.each do |pm| %>
    <p>Produto: <%= pm.name %></p>
    <p>SKU: <%= pm.sku %></p>
    <p>Peso: <%= pm.weight %> g</p>
    <p>Dimensões: <%= pm.height %> cm x <%= pm.width %> cm x <%= pm.depth %> cm</p>
  <% end %>
</div>
<div>
  <%= link_to 'Editar', edit_supplier_path(@supplier.id) %>
  <%= link_to 'Voltar', suppliers_path %>
</div>


